{% load static %}
<title>Tvt map</title>
<body style="background:linear-gradient(90deg,black,green)">
    <center>
        <h1 style='border:3px;color:white'>FIND That Kadhoolzzzz Culprit</h1>
<a href='omg.html'><img src="{% static 'bharath.png' %}" usemap="#image-map" height=300px width=400px   border=5px>
<img src="{% static 'vijay.png' %}" usemap="#image-map" height=300px width=400px   border=5px>
<img src="{% static 'dp.png' %}" usemap="#image-map" height=300px width=400px   border=5px>
<img src="{% static 'roshan.png' %}" usemap="#image-map" height=300px width=400px   border=5px>
<img src="{% static 'enish.jpg' %}" usemap="#image-map" height=300px width=400px   border=5px>
</a>
<a href='valthukal.html'>
<img src="{% static 'naveen.png' %}" usemap="#image-map" height=300px width=400px   border=5px>
</a>
<map name="image-map">
</center>
</body>
