{%load static%}


<html>
    <head>
        <title>Theradi Metro</title>
    </head>

    <body style="background:linear-gradient(30deg,pink,blue)">
        <img src="{%static 'beach.png'%}" width="" height="50%" border=5px style="margin-left:auto;margin-right:auto;display:block"> 
        <center>
        <h1>Royapuram Rock Beach</h1> 
        <h2 align=left>
        <pre>
            Type:Tourist Spot
            address:toyapuram_beach, Tiruvottiyur, Chennai, Tamil Nadu 600019
            website: -
            about:
            Royapuram beach spot (often referred to as N4 Beach near Royapuram) is a quieter coastal stretch in northern Chennai
            , known for sea views near the Kasimedu fishing harbour. 
F
        </pre></h2></center>
 
    </body>
</html>