{%load static%}


<html>
    <head>
        <title>Theradi Metro</title>
    </head>

    <body style="background:linear-gradient(30deg,pink,blue)">
        <img src="{%static 'metro.png'%}" width="" height="50%" border=5px style="margin-left:auto;margin-right:auto;display:block"> 
        <center>
        <h1>Theradi Metro station</h1> 
        <h2 align=left>
        <pre>
            Type: Public Transport
            address:Th Rd, Tiruvottiyur, Chennai, Tamil Nadu 600019
            website: https://cmrl.chennai.in
            about:
            Thiruvottiyur Theradi Metro station is an elevated station on Chennai Metro’s Blue Line,
             opened on 14 March 2022, serving the northern suburbs around Rajakadai / Kaladipet
        </pre></h2></center>
 
    </body>
</html>