{%load static%}


<html>
    <head>
        <title>Theradi Metro</title>
    </head>

    <body style="background:linear-gradient(30deg,pink,blue)">
        <img src="{%static 'rail.png'%}" width="" height="50%" border=5px style="margin-left:auto;margin-right:auto;display:block"> 
        <center>
        <h1>Thiruvottriyur Railway Station</h1> 
        <h2 align=left>
        <pre>
            Type: Public Transport
            address:Thiruvottriyu Railway station, Tiruvottiyur, Chennai, Tamil Nadu 600019
            website: https://sr.indianrailways.gov.in/
            about:
            Thiruvottiyur railway station (TVT) is part of Chennai’s suburban network
             on the Chennai Central–Gummidipoondi line, with three platforms serving around 25,000 daily passengers
        </pre></h2></center>
 
    </body>
</html>