{%load static%}


<html>
    <head>
        <title>Rpc</title>
    </head>

    <body style="background:linear-gradient(30deg,pink,blue)">
        <img src="{%static 'rpc.png'%}" width="" height="50%" border=5px style="margin-left:auto;margin-right:auto;display:block"> 
        <center>
        <h1>Revoor Padmanabha Matriculation School</h1> 
        <h2 align=left>
        <pre>
            Type: Private School
            address:Rajakadai, Tiruvottiyur, Chennai, Tamil Nadu 600019
            website: https://revoorpadhmanabhachettysschool.in/
            about:
            Revoor Padmanabha Chetty Matriculation Higher Secondary School in Rajakadai, Thiruvottiyur, Chennai,
             is a co-educational English medium school established in 1983. 
            It offers classes up to +2 with good facilities and a strong academic reputation.
 .
        </pre></h2></center>
 
    </body>
</html>