{%load static%}


<html>
    <head>
        <title>Theradi Metro</title>
    </head>

    <body style="background:linear-gradient(30deg,pink,blue)">
        <img src="{%static 'theatre.png'%}" width="" height="50%" border=5px style="margin-left:auto;margin-right:auto;display:block"> 
        <center>
        <h1>Odeon Mani Theatre</h1> 
        <h2 align=left>
        <pre>
            Type: Public Transport
            address:grama street, Tiruvottiyur, Chennai, Tamil Nadu 600019
            website: https://bookmyshow.in/odeonmani/
            about:
            Odeon Mani Theatre (also “Odiyan Mani Theatre”) is a single-screen cinema in
             Kaladipet, Tiruvottiyur, on W. Mada Street, showing movies with 2K/Dolby setups.
        </pre></h2></center>
 
    </body>
</html>